* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fuente-base: font-size: 16px;
  --desktop: width 1920px;
  --small-notebook: width 1366px;
  --tablet: width 768px;
  --mobile-large: width 426px;
}

/*MEDIA QUERYS*/

/*DESKTOP*/
@media screen and (max-width: 1920px) and (min-width: 1366px) {
  :root {
    font-size: var(--fuente-base);
  }
}

/*NOTEBOOK*/
@media screen and (max-width: 1366px) and (min-width: 768px) {
  :root {
    --fuente-base: 15px;
  }

  .logo2 {
    padding-left: 40px;
    size: 400px;
  }
  
  
}

/*TABLET*/
@media screen and (max-width: 768px) and (min-width: 426px) {
  :root {
    --fuente-base: 12px;
  }

  img.logo2 {
    padding-left: 20px;
    size: 200px;
  }
  

}

/*MOBILE*/
@media screen and (max-width: 426px) {
  :root {
    --fuente-base: 10px;
  }
}

body {
  margin: 0;
  background-image: url(pagebackground.jpg);
  background-repeat: round;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed, scroll;
}

@font-face {
  font-family: "getschwifty";
  src: url(get_schwifty.ttf);
}

header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, #000000, #0000006c);
}

#logo1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.logo2 {
  padding-left: 60px;
  max-width: 3%;
  height: auto;
}

.logo2:hover {
  transform: scale(1.1);
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
 
}

.contenedor img {
  width: 6.25rem;
  height: 6.25rem;
}

.contenedor-img img {
  width: 6.25rem;
  height: 6.25rem;
}

.card {
  width: 500px;
  height: 600px;
  border: 0.25rem solid #def03d;
  background-color: #000000ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.625rem;
  border-radius: 0.625rem;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.card img {
  border-radius: 50%;
}

.card .resume:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}

.resume h2 {
  padding-bottom: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 0.875rem;
  text-align: center;
  font-size: 1.5rem;
}

.resume img {
  align-items: center;
  border-radius: 50%;
}

.resume button {
  background: none;
  border: 0.1875rem solid;
  font: inherit;
  line-height: 2;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #def03d;
  transition: 0, 5s;
  font-size: 1rem;
}

.resume button:hover,
.resume button:focus {
  animation: sombra 2s;
  box-shadow: 0 0 0 1.5rem transparent;
}

@keyframes sombra {
  0% {
    box-shadow: 0 0 0 0 #def03d;
  }
}

.details {
  display: none;
}

.card.active {
  z-index: 1000;
  top: 0;
  bottom: 0;
  width: 95%;
  height: 95vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  .resume {
    display: none;
  }
  .details {
    display: inline;
    width: 100%;
    height: 100vh;
  }
}

.card.active .details .saludo {
    float: left;
    padding-left: 5.25rem;
    padding-top: 2rem;
    font-family: inherit;
    text-align: justify;
    width: 31.25rem;
    font-size: 4rem;
}

.card.active .details .saludo span {
  animation: cambiaColor 5s forwards; /* animacion - nombre - tiempo que dura - estado final*/
}

@keyframes cambiaColor {
  0% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: #def03d;
  }
}

.card.active img {
  width: 30rem;
  height: 30rem;
  margin-left: 17rem;
  margin-top: 3rem;
}

.details-container {
  margin: auto;
  transition: 10s ease-in-out;
}
.dtls {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-left-width: 15px;
  padding-left: 10px;
  margin-left: 36rem;
  color: aliceblue;
  border-left: 1rem solid #043c6e;
  line-height: 3rem;
  margin-top: 4.5rem;
  font-size: 2rem; 
  transition: all 5s cubic-bezier(0.4, 0, 1, 1);
}

.card.active button {
  background: transparent;
  border: 0.3125rem solid;
  font: inherit;
  font-size: 1.5rem;
  padding: 2.1875rem 4.0625rem;
  color: #def03d;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  transition: 3s ease-in-out ;
  
}

.card.active button:hover,
.card.active button:focus {
  animation: sombra 2s;
  box-shadow: 0 0 0 1.5rem transparent;
}

@keyframes sombra {
  0% {
    box-shadow: 0 0 0 0 #def03d;
  }
}

.navbar {
  background-image: linear-gradient(180deg, #0000006c, #00000000);
  display: flex;
  justify-content: space-around;
}
.navbtn-container {
  position: relative;
  display: inline-block;
}

.navbtn {
  background: none;
  border: 0.1875rem solid;
  font: inherit;
  line-height: 2;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #def03d;
  background-color: #000;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
}
.navbtn:hover {
  transform: scale(1.1);
}

.dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 9.375rem;
  z-index: 1;
}

.navbtn-container:hover .dropdown {
  display: block;
}

.dropdown li button {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: transparent;
  text-align: left;
  padding: 0.625rem;
}

.dropdown li button:hover {
  background-color: #000000;
  color: #def03d;
}

ul {
  list-style: none;
  padding: 0;
  display: none;
  position: absolute;
  background-color: #def03dcd;
  min-width: 9.375rem;
}
#pagination {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#page-numbers {
  background: none;
  border-left: 0.1875rem solid;
  border-right: 0.1875rem solid;
  font: inherit;
  line-height: 2;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #def03d;
  font-weight: 600;
}
.pag-btn {
  background: none;
  border: 0.1875rem solid;
  font: inherit;
  line-height: 2;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #def03d;
  cursor: pointer;
}

.pag-btn:hover {
  transform: scale(1.1);
}

#loading-gif {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(fondo\ card\ solido.jpeg);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: agrandar 1s ease-in-out forwards;
}

#loading-gif img {
  animation: achicar 2s ease-in;
  box-shadow: inset 0px 0px 10px 10px #000;
  clip-path: circle(41%);
}

@keyframes agrandar {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes achicar {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 6.25rem;
  padding: 0 2.5rem;
  background-image: linear-gradient(180deg, #0000007d, #000000);
}

footer p {
  font-family: inherit;
  font-size: 1.875rem;
  color: #def03d;
}

.alumna:hover {
  transform: scale(1.2);
  padding-right: 0.9375rem;
}
