* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(pagebackground.jpg);
  background-repeat: round;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed, scroll;
}

@font-face {
  font-family: "getschwifty";
  src: url(get_schwifty.ttf);
}

header {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(180deg, #000000, #0000006c);
}

#logo1:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.logo2 {
  padding-left: 60px;
  size: 500px;
}

.logo2:hover {
  transform: scale(1.1);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.contenedor img {
  width: 100px;
  height: 100px;
}

.contenedor-img img {
  width: 100px;
  height: 100px;
}

.card {
  width: 500px;
  height: 600px;
  border: 4px solid #def03d;
  background-color: #000000ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.3s ease;
}

.card img {
  border-radius: 50%;
}

.card .resume:hover {
  transition: all 0.3s ease-out;
  transform: scale(1.1);
}

.resume h2 {
  padding-bottom: 13px;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 14px;
  text-align: center;
}

.resume img {
  align-items: center;
  border-radius: 50%;
}

.resume button {
  background: none;
  border: 3px solid;
  font: inherit;
  line-height: 2;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #def03d;
  transition: 0, 5s;
}

.resume button:hover,
.resume button:focus {
  animation: sombra 2s;
  box-shadow: 0 0 0 1.5rem transparent;
}

@keyframes sombra {
  0% {
    box-shadow: 0 0 0 0 #def03d;
  }
}

.details {
  display: none;
}

.card.active {
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;

  padding: 50px;
  display: inline;
  .resume {
    display: none;
  }
  .details {
    display: inline;
    width: 100%;
    max-width: 600px;
    height: 100vh;
  }
}

.card.active .details .saludo {
  float: left;
  padding: 20px;
  font-family: inherit;
  font-size: 70px;
  text-align: justify;
  width: 500px;
}

.card.active .details .saludo span {
  animation: cambiaColor 7s forwards; /* animacion - nombre - tiempo que dura - estado final*/
}

@keyframes cambiaColor {
  0% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: #def03d;
  }
}

.card.active img {
  width: 500px;
  height: 500px;
  margin-left: 180px;

  align-self: flex-end;
}

.details-container {
  margin: auto;
  transition: 4s ease-in-out;
}
.dtls {
  align-items: center;
  font-size: 30px;
  text-align: left;
  padding: 40px;
  margin-right: 200px;
  margin-left: 485px;
  border-left: 7px solid #043c6e;
  line-height: 50px;
  color: aliceblue;
}

.card.active button {
  background: transparent;
  border: 5px solid;
  font: inherit;
  font-size: 30px;
  padding: 35px 65px;
  margin-right: 210px;
  margin-bottom: 100px;
  color: #def03d;
  position: absolute;
  bottom: 0%;
  right: 0%;
  transition: 4s ease-in-out;
}

.card.active button:hover,
.card.active button:focus {
  animation: sombra 2s;
  box-shadow: 0 0 0 1.5rem transparent;
}

@keyframes sombra {
  0% {
    box-shadow: 0 0 0 0 #def03d;
  }
}

.navbar {
  background-image: linear-gradient(180deg, #0000006c, #00000000);
  display: flex;
  justify-content: space-around;
}
.navbtn-container {
  position: relative; /* Establece el contenedor como posición relativa */
  display: inline-block; /* Asegura que el contenedor no ocupe todo el ancho */
}

.navbtn {
  background: none;
  border: 3px solid;
  font: inherit;
  line-height: 2;
  margin: 1rem;
  padding: 1rem 2rem;
  color: #def03d;
  background-color: #000;
  font-family: inherit;
  font-size: 30px;
  cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
}
.navbtn:hover {
  transform: scale(1.1);
}

.dropdown ul {
  display: none;
  position: absolute; /* Posición absoluta con respecto al contenedor padre */
  top: 100%; /* Coloca el menú desplegable debajo del botón */
  left: 0;

  min-width: 150px;
  z-index: 1; /* Asegura que el menú esté por encima de otros elementos */
}

.navbtn-container:hover .dropdown {
  display: block;
}

.dropdown li button {
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  background-color: transparent;
  text-align: left;
  padding: 10px;
}

.dropdown li button:hover {
  background-color: #000000;
  color: #def03d;
}

ul {
  list-style: none;
  padding: 0;
  display: none;
  position: absolute;
  background-color: #def03dcd;
  min-width: 150px;
}
#pagination {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#page-numbers {
  background: none;
  border-left: 3px solid;
  border-right: 3px solid;
  font: inherit;
  line-height: 2;
  margin: 16px;
  padding: 16px 32px;
  color: #def03d;
  font-weight: 600;
}
.pag-btn {
  background: none;
  border: 3px solid;
  font: inherit;
  line-height: 2;
  margin: 16px;
  padding: 16px 32px;
  color: #def03d;
  cursor: pointer;
}

.pag-btn:hover {
  transform: scale(1.1);
}

#loading-gif {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(fondo\ card\ solido.jpeg);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: agrandar 1s ease-in-out forwards;
}

#loading-gif img {
  animation: achicar 2s ease-in-out;
  box-shadow: inset 0px 0px 10px 10px #000;
  clip-path: circle(41%);
}

@keyframes agrandar {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes achicar {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Slightly larger in the middle of the animation */
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100px;
  padding: 0 40px;
  background-image: linear-gradient(180deg, #0000007d, #000000);
}

footer p {
  font-family: inherit;
  font-size: 30px;
  color: #def03d;
}

.alumna:hover {
  transform: scale(1.2);
  padding-right: 15px;
}
